.resize-handle{
    position:absolute;
    z-index:10;
}

.resize-top{
    top:0;
    left:10px;
    right:10px;
    height:8px;
    cursor:n-resize;
}

.resize-bottom{
    bottom:0;
    left:10px;
    right:10px;
    height:8px;
    cursor:s-resize;
}

.resize-left{
    left:0;
    top:10px;
    bottom:10px;
    width:8px;
    cursor:w-resize;
}

.resize-right{
    right:0;
    top:10px;
    bottom:10px;
    width:8px;
    cursor:e-resize;
}
